<h2 class="title is-2">Exercice : compteur</h2>
<div class="notification is-size-1 is-info" [ngClass]="classes()">
    <div>{{ compteur }}</div>
    <ng-template [ngIf]="compteur >= 30">
        <div>Au dessus ou égal à 30</div>
    </ng-template>
    <ng-template [ngIf]="compteur >= 0 && compteur < 30">
        <div>Nombre entre 0 et 30</div>
    </ng-template>
    <ng-template [ngIf]="compteur < 0">
        <div>nombre négatif...</div>
    </ng-template>
</div>

<div class="buttons">
    <button class="button is-link" (click)="addCompteur(-1)">DEC 1</button>
    <button class="button is-link" (click)="addCompteur(1)">INC 1</button>
</div>